  <section class="flex-grow-1">
    <div class="container-fluid p-5 mx-auto my-auto">
      <h1 class="display-5 fw-bold text-danger">404 - Page Not Found</h1>
      <p class="col-md-8 fs-4 mb-1">Url: {{url}}</p>
      <p class="col-md-8 fs-4 mt-1">Status Code: {{statusCode}}</p>
      <a class="btn btn-outline-dark btn-lg" href="/api/articles" role="button">Back to Home</a>
    </div>
  </section>