    <!--FOOTER-->
    <footer id="main-footer" class="text-center py-0 my-0 bg-dark text-white">
        <div class="container">
            <div class="row">
                <div class="col">
                    <p class="my-2">Copyright &copy;<span id="year"></span> Mongo News Scrapper</p>
                </div>
            </div>
        </div>
    </footer>