    <!--HEADER-->
    <header id="page-header" class="py-2 text-white">
        <div class="container">
            <div class="row">
                <div class="col-md-6 m-auto text-center">
                    <h1>All the News That's Fit to Scrape</h1>
                    <p>Smashing Magazine article scraper that stores articles to MongoDB.</p>
                </div>
            </div>
        </div>
    </header>