    <!--NAVBAR-->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark py-3">
        <div class="container-fluid">
            <a href="/" class="navbar-brand"><i class="fas fa-newspaper pr-2"></i> News Article Scraper</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item active">
                        <a href="/" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item" hidden>
                        <a href="/api/articles?saved=true" class="nav-link">Pinned Articles</a>
                    </li>
                    <li class="nav-item">
                        <a href="/api/scrape" class="nav-link btn btn-primary px-2 mx-1 text-white"><i
                                class="fas fa-search pr-2"></i> SCRAPE ARTICLES</a>
                    </li>
                    <li class="nav-item">
                        <a href="/api/clear" class="nav-link btn btn-primary px-2 mx-1 text-white"><i
                                class="far fa-trash-alt pr-2"></i> CLEAR ARTICLES</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>