*,
*:before,
*:after {
	box-sizing: border-box !important;
}

html {
	min-height: 100%;
}

body {
	background-color: #f0f0f0;
	min-height: 100vh;
}

textarea:focus,
input:focus,
button:focus {
	outline: none !important;
	box-shadow: none !important;
}

#page-header {
	min-height: fit-content;
	background: url('../images/image1.jpg');
	background-position: 0 -360px;
	background-attachment: fixed;
	border-bottom: 1px #eee solid;
}

/* rotate icon by 45 degrees */
.fa-rotate-45 {
	transform: rotate(45deg);
}

.btn-adjust {
	width: 30px;
	height: 30px;
	font-size: 12px;
}

.btn-adjust:hover {
	background-color: transparent;
}

.delete-comment.btn-adjust {
	margin-top: -5px;
}

#article-content {
	flex: 1;
}

@media (max-width: 768px) {
	.nav-link {
		margin-left: 0;
		margin-top: 4px;
	}
}
